body{
    width: 1200px;
    margin: auto;

    background-color:white;
}
.upHeader{
    display: grid;
    grid-template-areas: "login sightin";
    justify-items: center;

    background-color: cornsilk;
    
    height: 60px;
}

.logIn{
    grid-area: login;
    font-size: 20px;
    color: blue;
}
.sightIn{
    grid-area: sightin;
    font-size: 20px;
    color: blue;
}


.mainHeader{
    display: grid;
    grid-template-areas: "logo town search addCompany";
    grid-template-columns: 0.7fr 0.5fr 2fr 2fr;
    grid-gap: 40px;

    background-color: white;
    position: sticky;
    top: 0;
}
.logo{
    grid-area: logo;
}
.logo img{
    height: 45px;
    width: 160px;
}
.town{
    grid-area: town;
    
    display: grid;
    grid-template-areas: "location townName";
    grid-template-columns: 1fr 4fr;
    align-items: left;
}
.location{
    padding-top: 15px;
    grid-area: location;
}
.location img{
    height: 20px;
    width: 20px;
}
.townName{
    grid-area: townName;
    font-size: 18px;
}

.search{
    grid-area: search;

    display: grid;
    grid-template-areas: "searchLine searchIcon";
    padding-top: 10px;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;

    
}
.searchLine{
    grid-area: searchLine;
}
.serchLine input{
    height: 40px;
    width: 470px;
}
.searchIcon{
    grid-area: searchIcon;
    padding-top: 10px;
}
.searchIcon img{
    height: 20px;
    width: 20px;
}

.addCompany{
    grid-area: addCompany;

    display: grid;
    grid-template-areas: "addCompanyIcon addCompanyText";
    padding-left: 100px;
    padding-top: 10px;
    grid-template-columns: 0.5fr 3fr;
    
}
.addCompanyIcon{
    grid-area: addCompanyIcon;
    padding-top: 10px;
}
.addCompanyIcon img{
    height: 20px;
    width: 20px;
}

.addCompanyText{
    grid-area: addCompanyText;  
    font-size: 15px;
}

.catalogue{
    display: grid;
    grid-template-areas:"home tech interior automobil cloth child beauty health relaxation equipment" ;

    text-align: center;
    border: 0.5px solid orange;
    border-radius: 10px;

    background-color: white;

    position: sticky;
    top: 50px;
}
.home{
    grid-area: home;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.tech{
    grid-area: tech;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.interior{
    grid-area: interior;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.auto{
    grid-area: automobil;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.cloth{
    grid-area: cloth;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.child{
    grid-area: child;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.beauty{
    grid-area: beauty;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.health{
    grid-area: health;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.relaxation{
    grid-area: relaxation;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}
.equipment{
    grid-area: equipment;
    font-size: 15px;
    border: 0.5px solid orange;

    border-radius: 10px;
}



.slider {
    position: relative;
}  
.slider__container {
    overflow: hidden;
}
.slider__wrapper {
    /* overflow: hidden; */
}
.slider__items {
    display: flex;
    transition: transform 0.5s ease;
}
.slider_disable-transition {
    transition: none;
}
.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
}
.slider__item img{
    height: 400px;
    width: 1200px;
}

  /* кнопки влево и вправо */  
.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 65px;
    color: #fff;
    text-align: center;
    background: rgb(0 0 0 / 100%);
    transform: translateY(-50%);
}
.slider__control_hide {
    display: none;
}
.slider__control[data-slide="prev"] {
    left: 0;
}
.slider__control[data-slide="next"] {
    right: 0;
}
.slider__control:hover,.slider__control:focus {
    color: #fff;
    text-decoration: none;
    background: rgb(0 0 0 / 30%);
    outline: 0;
}
.slider__control::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.slider__control[data-slide="prev"]::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control[data-slide="next"]::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
  /* индикаторы */
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-right: 15%;
    margin-bottom: 0;
    margin-left: 15%;
    padding-left: 0;
    list-style: none;
}
.slider__indicators li {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
}
.slider__indicators li.active {
    background-color: rgb(255 255 255 / 90%);
}

.aboutText{
    grid-area: aboutText;
}
.aboutCompany{
    grid-area: aboutCompany;
}
.picture{
    grid-area: picture;
}

.selectForWho{
    display: grid;
    grid-template-areas: "forCustomers forBuisness";
    text-align: center;

}
.forCustomers{
    grid-area: forCustomers;

    border: 2px solid a56b00;
    background-color: #a56b00;
    color: aliceblue;

    font-size: 20px;
}
.forBuisness{
    grid-area: forBuisness;

    border: 2px solid blue;
    background-color: blue;
    color: aliceblue;

    font-size: 20px;
}

.companyPresent{
    display: grid;
    grid-template-areas: 
    "basketImg customersImg salesmanImg yearWorkImg" 
    "basketText customersText salesmanText yearWorkText";

    background-color: rgb(245, 245, 245);

    text-align: center;
}
.basketImg{
    grid-area: basketImg;
}
.basketText{
    grid-area: basketText;
}
.customersImg{
    grid-area: customersImg;
}
.customersText{
    grid-area: customersText;
}
.salesmanImg{
    grid-area: salesmanImg;
}
.salesmanText{
    grid-area: salesmanText;
}
.yearWorkImg{
    grid-area: yearWorkImg;
}
.yearWorkText{
    grid-area: yearWorkText;
}

.forCustomersProduct{
    display: grid;
    grid-template-areas: "forCustomersProduct-header forCustomersProduct-header forCustomersProduct-header forCustomersProduct-header"
    "dryerForVagetables freezer juicer meatGrinder";
    
    justify-items: center;
}
.forCustomersProduct-header{
    grid-area: forCustomersProduct-header;
}
.dryerForVagetables{
    display: grid;
    grid-template-areas: "dryerForVegetablesImg" "dryerForVegetablesText";
    grid-area: dryerForVegetables;
}
.dryerForVegetablesImg{
    grid-area: dryerForVegetablesImg;

}
.dryerForVegetablesImg img{
    height: 150px;
    width: 150px;
}
.dryerForVegetablesText{
    grid-area: dryerForVegetablesText;

    color: blue;
    font-size: 20px ;
}
.freezer{
    display: grid;
    grid-template-areas: "freezerImg" "freezerText";
    grid-area: freezer;
}
.freezerImg{
    grid-area: freezerImg;
}
.freezerImg img{
    height: 150px;
    width: 150px;
}
.freezerText{
    grid-area: freezerText;

    color: blue;
    font-size: 20px ;
}
.juicer{
    display: grid;
    grid-template-areas: "juicerImg" "juicerText";
    grid-area: juicer;
}
.juicerImg{
    grid-area: juicerImg;
}
.juicerImg Img{
    height: 150px;
    width: 150px;
}
.juicersText{
    grid-area: juicerText;

    color: blue;
    font-size: 20px ;
}
.meatGrinder{
    display: grid;
    grid-template-areas: "meatGrinderImg" "meatGrinderText";
    grid-area: meatGrinder;
}
.meatGrinderImg{
    grid-area: meatGrinderImg;
}
.meatGrinderImg img{
    height: 150px;
    width: 150px;
}
.meatGrinderText{
    grid-area: meatGrinderText;

    color: blue;
    font-size: 20px ;
}

.footer{
    display: grid;
    grid-template-areas: "aboutPortal forCustomersFooter forSellersFooter startSelling";

}
.aboutPortal{
    grid-area: aboutPortal;
}
.aboutPortal p{
    color: blue;
    font-size: 12px;
}
.forCustomersFooter{
    grid-area: forCustomersFooter;
}
.forCustomersFooter p{
    color: blue;
    font-size: 12px;
}
.socialWeb{
    display: grid;
    grid-template-areas: "vkImg youtubeImg yandexImg";
    width: 150px;
}
.vkImg{
    grid-area: vkImg;
}
.vkImg img{
    height: 40px;
    width: 40px;
}
.youtubeImg{
    grid-area: youtubeImg;
}
.youtubeImg img{
    height: 40px;
    width: 40px;
}
.yandexImg img{
    height: 40px;
    width: 40px;
}
.yandexImg{
    grid-area: yandexImg;
}
.forSellersFooter{
    grid-area: forSellersFooter;
}
.forSellersFooter p{
    color: blue;
    font-size: 12px;
}
.startSelling{
    grid-area: startSelling;
}
.startSelling p{
    color: blue;
    font-size: 12px;
}